.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.home-detail {
  color: black;
  text-align: center;
  margin: auto;
  margin-top: 5rem;
  width: 50%;
}

.nav-detail {
  margin: auto;
}
.nav-detail a {
  color: black;
}

.col {
  position: inherit;
}

.profile {
  margin: auto;
  width: 50%;
  display: flex;
  margin-top: 5rem;
}

body {
  background: rgb(85, 73, 73);
}
